body{
	    overflow-x: hidden;
}
header{
	position: absolute;
	top: 0;
	z-index: 110;
	width: 100%;
	    background: #000;
    height: 100px;
    line-height: 100px;
    border-top: 4px solid #000;
}


header img{
	height: 70px;
	z-index: 112;
}

header p{
		font-family: 'Source Sans Pro', sans-serif;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12.1px;
		line-height: 90px;
}

.header-second{
	text-align: right;

}

header a{
	    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: #0887b2;
    padding: 16px 45px;
    margin-left: 3%;
    z-index: 111;
}

header a:hover, header a:focus{
	color: #fff;
	text-decoration: none;
}


.slide1, .slide2, .slide3, .slide4{
	height: 940px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.slide1{
	background: url("../img/banner/slide1.jpg");
}

.slide2{
	background: url("../img/banner/slide2.jpg");
}

.slide3{
	background: url("../img/banner/slide3.jpg");
}
.slide4{
	background: url("../img/banner/slide4.jpg");
}

.banner-excerpt-bottom{
	background: url("../img/desk-mac.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 470px;
	top: 49%;
	width: 100%;
}

.bottom-slider{
	background: url("../img/bottom-slider.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 90px;
	bottom: 0;
	z-index: 130;
	width: 100%;
}
#header-carousel{
	position: relative;
}


.banner-excerpt-top{
	text-align: center;
	position: absolute;
	top: 19%;
	width: 100%;
}

.banner-excerpt-top p{
	color: #232323;
	font-size: 48px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	width: 70%;
	margin: 0 auto;
	    line-height: 1em;
    letter-spacing: 1.5px;


}

.banner-excerpt-top p > strong{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;

}

.title h1{
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 45.25px;
	text-align: center;
	font-weight: 900;

}


.title h2{
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: 200;
	margin-top: 0;
}

.time-bg{
	background: url("../img/BGs/bg_first.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background: #2782df;*/
	overflow: hidden !important;
}

.event-step2{
	background: url("../img/BGs/bg_second.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background: #4b55e0;*/
}

.event-step3{
	background: url("../img/BGs/bg_fourth.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background: #1d429c;*/
	  clear: both;
    box-sizing: border-box;
    position: relative;
}

.event-step4{
	background: url("../img/BGs/bg_third.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	    padding-top: 19.5%;
	    padding-bottom: 94px;

}

.event-step4 h1{
	text-align: center;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 60px;
	    width: 60%;
    margin: 0 auto;
}
.event-step4 img{
	margin-top: 70px;
}
.custom-tabs .nav-tabs>li{
	width: 25%;
	text-align: center;
	border: none !important;
	height: 230px;
	cursor: pointer;
	position: relative;
}
.tab-bottom{
	background: url(../img/white-bg.png);
    position: absolute;
    bottom: -30px !important;
    width: 100%;
    height: 33px;
		display: none;
		background-size: cover;
		background-position: center;
		z-index: 999;
}
.custom-tabs .nav-tabs>li a{
	border: none !important;
}
.custom-tabs .nav-tabs>li img{
	width: 240px !important;
	margin-top: 12px;
    margin-bottom: 13px;
}
.custom-tabs .nav-tabs>li p{
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 600;
	    width: 80%;
    margin: 0 auto;
    line-height: 35px;
    letter-spacing: 1.1px;

}
.custom-tabs .nav-tabs>li:first-child{
background: #bb3537;
}
.custom-tabs .nav-tabs>li:nth-child(2){
	background: #002938;

}

.custom-tabs .nav-tabs>li:nth-child(3){
	background: #207b2f;

}

.custom-tabs .nav-tabs>li:nth-child(4){
	background: #662d91;

}

.custom-tabs .nav-tabs>li:hover{
	background: #fff !important;
}

.custom-tabs .nav-tabs>li:hover p{
	color: #b9252b !important;
}
.custom-tabs .nav-tabs>li>a:hover, .custom-tabs .nav-tabs>li>a:focus, .custom-tabs .nav-tabs>li>a:active{
	background: #fff !important;
}




.custom-tabs .nav-tabs .active:first-child p, .custom-tabs .nav-tabs li:first-child a:focus p,
.custom-tabs .nav-tabs li:first-child a:active p, .custom-tabs .nav-tabs li:first-child a:hover p,
.custom-tabs .nav-tabs li:nth-child(1):hover p, .custom-tabs .nav-tabs li:nth-child(1):focus p, .custom-tabs .nav-tabs li:nth-child(1):active p{
	color: #b9252b !important;
}

.custom-tabs .nav-tabs .active:nth-child(2) p, .custom-tabs .nav-tabs li:nth-child(2) a:focus p,
.custom-tabs .nav-tabs li:nth-child(2) a:active p, .custom-tabs .nav-tabs li:nth-child(2) a:hover p,
.custom-tabs .nav-tabs li:nth-child(2):hover p, .custom-tabs .nav-tabs li:nth-child(2):focus p, .custom-tabs .nav-tabs li:nth-child(2):active p{
	color: #002938 !important;
}
.custom-tabs .nav-tabs .active:nth-child(3) p, .custom-tabs .nav-tabs li:nth-child(3) a:focus p,
.custom-tabs .nav-tabs li:nth-child(3) a:active p, .custom-tabs .nav-tabs li:nth-child(3) a:hover p,
.custom-tabs .nav-tabs li:nth-child(3):hover p, .custom-tabs .nav-tabs li:nth-child(3):focus p, .custom-tabs .nav-tabs li:nth-child(3):active p{
	color: #207b2f !important;
}

.custom-tabs .nav-tabs .active:nth-child(4) p, .custom-tabs .nav-tabs li:nth-child(4) a:focus p,
.custom-tabs .nav-tabs li:nth-child(4) a:active p, .custom-tabs .nav-tabs li:nth-child(4) a:hover p,
.custom-tabs .nav-tabs li:nth-child(4):hover p, .custom-tabs .nav-tabs li:nth-child(4):focus p, .custom-tabs .nav-tabs li:nth-child(4):active p{
	color: #662d91 !important;
}
.custom-tabs .nav-tabs .active img{

}
.custom-tabs .nav-tabs .active{
	background: #fff !important;
}

.custom-tabs .nav-tabs .active .tab-bottom{
	display: block;
}

.custom-tabs #sports, .tab-banner .item:first-child{
	background: url("../img/red-bg.png");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.custom-tabs #conferences, .tab-banner .item:nth-child(2){
	background: url("../img/tab2-bg.png");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
}


.custom-tabs #communities, .tab-banner .item:nth-child(3){

		background: url("../img/tab3-bg.png");
		background-position: center bottom;
		background-size: cover;
		background-repeat: no-repeat;

}

.custom-tabs #destinations, .tab-banner .item:nth-child(4){

		background: url("../img/tab4-bg.png");
		background-position: center bottom;
		background-size: cover;
		background-repeat: no-repeat;

}

.content{
	text-align: center;
	color: #fff;
	padding: 120px 0;
	padding-bottom: 145px;
}

.content h3{
	    font-weight: 600;
    font-size: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    margin-top: -5px !important;
    letter-spacing: 3.5px;

}

.content p{

	font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px !important;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 35px;
}

.brands, .brandsFlexisel{
	background: url("../img/blue-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.brands h2, .integrations h2, .brandsFlexisel h2{
	text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    padding-top: 100px;
    letter-spacing: 1.9px;
    line-height: 42px;
}

.integrations h2{
	padding: 40px 0 !important;
	    padding-top: 60px !important;
}

.brands ul{
	list-style-type: none;
	margin: 0;
padding: 100px 0;
}

.brands ul li{
	display: inline;
	padding: 0 4.2%;
}

.brands ul li img{
	max-width: 250px;
	max-height: 70px;
}

.brands-container{
	width: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 80px;
	    padding-bottom: 105px;
}

.integrations .brands-container{
	margin-top: 20px !important;
	    padding-bottom: 65px !important;
}

.brand-item{
	width: 20%;
	height: 200px;
	line-height: 200px;
	text-align: center;
}

.integrations{
	background: #70309d;
}

.integrations img{


max-height: 150px;
}

.brands img{
	max-height: 150px !important;
}

.contact{
	padding: 127px 0;
	text-align: center;
}

.contact strong{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
	font-weight: 500;
	color: #0c475e;
	letter-spacing: 1.1px;

}

.contact a{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 21.8px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	background: #4dd2ff;
	padding: 30px 75px;
    margin-left: 7%;
}

.contact p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
	font-weight: 200;
	color: #0c475e;
	letter-spacing: 1.1px;
}


.contact a:hover, .contact a:focus{
	text-decoration: none;
}


footer{
	background: #002938;

}

.top-footer{
	text-align: center;
    padding: 55px 0;
    border-bottom: 2px solid #264956;
}

.top-footer img{
	max-width: 410px;
	max-height: 120px;
}

.bottom-footer{
	color: #fff;
	font-size: 12px;
	padding: 20px 0;
	line-height: 30px;
	font-weight: 300;
    letter-spacing: 2.2px;
}

.tree-logo{
	margin-left: 2%;
}

.bf-first{
	text-align: right;
	padding-right: 4%;
}

.bf-second{
	padding-left: 4%;
}
@media (max-width: 1024px){
	.brand-item, .custom-tabs .nav-tabs>li{
		width: 50%;
	}
}

@media (max-width: 768px){
	.brand-item, .custom-tabs .nav-tabs>li{
		width: 100%;
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;

	}
}


/* TIMELINE CSS*/


.pre-event{
	padding-top: 80px;
	overflow: hidden !important;
}

.pre-event h3, .event-step2 h3, .event-step3 h3{
	    background: url(../img/rectangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 10px 20px;
    width: 45%;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.4em;
    color: #0c475e;
}


.event-step2 h3{
	width: 60% !important;
}

.pre-event h4, .event-step2 h4, .event-step3 h4{
	    color: #fff;
    font-size: 38px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 18px;
    letter-spacing: 2px;
    font-weight: 300;
}
.pre-event ul, .event-step2 ul, .event-step3 ul{
	margin-top: 30px;
}
.pre-event li, .event-step2 li, .event-step3 li{
	list-style-type: none;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	padding-bottom: 17px;
}

.pre-event li:before, .event-step2 li:before, .event-step3 li:before{
	content: "\f054";
	  font-family: FontAwesome;
	  margin-left: -1.3em;
	      width: 1.3em;
    display: inline-block;
}

@media(min-width: 1550px){
	.container{
		width: 1530px !important;
	}
}

.event-step2{
	position: relative;
    z-index: 1;

}
.event-step2:before{
	top: 0;
    -webkit-transform: skewY(-7.5deg);
    transform: skewY(-7.5deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.event-step3{
	position: relative;
    z-index: 1;

}
.event-step3:before{
	top: 0;
    -webkit-transform: skewY(-7.5deg);
    transform: skewY(-7.5deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
    content: '';
    display: block;
    height: 131%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.tab-content{
	    background-color: #002937;
}

@media (min-width: 1700px){
	.brands > .container{
		width: 1688px !important;
		padding: 0 !important;
	}

	.brand-item{
		text-align: left;
	}


}

@media (min-width: 1730px){
	.integrations > .container{
		width: 1706px !important;
	}
}


/* ANGLES CSS */

.angles{
	position: relative;
}

#lp-section1{

	position: absolute;
    right: 0;
    text-align: right;
    background: url(../img/laptop-mac.png);
    height: 660px;
    z-index: 99;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    top: 25%;
}
#lp-section2{
	    position: absolute;
    left: -3%;
    background: url(../img/phones.png);
    height: 859px;
    top: -14%;
    background-size: cover;
    background-repeat: no-repeat;
		    background-position: center right;

}
#lp-section3{

	    position: absolute;
    right: 0;
    text-align: right;
    background: url(../img/ipad.png);
    height: 880px;
    top: -30%;
    z-index: 99;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

}
.time-bg{
	height: 950px;
	    clear: both;
    box-sizing: border-box;
    position: relative;
}

.event-step2{
	height: 800px;
}


/* MOBILE */


@media (max-width: 992px){

	header{
		text-align: center;
	}
	.header-second{
		display: none;
	}

	.banner-excerpt-top p{
		font-size: 32px;
	}

	.banner-excerpt-top p{
		width: 90%;
	}

	.pre-event h3, .event-step2 h3, .event-step3 h3{
		width: 100% !important;
	}

	.time-bg{
		height: 1300px;
	}

	.event-step2{height: 1400px;}

	.contact a{
		margin-left: 0;
		padding: 20px 25px;
	}

	.top-footer img{
		max-width: 250px;
	}

	.bf-first, .bf-second{
		padding: 0 !important;
		text-align: center;
	}

	.brands img, .integrations img{
		max-width: 250px;
	}

	.event-step4{
		padding-top: 70%;
	}
	.event-step4 h1{
		font-size: 40px;
		width: 90%;
	}

	.content p{
		width: 90%;
	}
}


@media (max-width: 1600px){
	.event-step4 img{
		max-width: 100%;
	}

	.brands img, .integrations img{
		max-width: 250px;
	}
}


.center-line{
	    position: absolute;
    width: 28px;
    height: 1615px;
    background: url(../img/center-line.png);
    top: 17%;
    left: 49.2%;
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: cover;
		display: none;
}

.pre-event .col-md-6{
	    margin-left: 2%;
    margin-top: 1%;
}

.pre-event h4, .event-step2 h4, .event-step3 h4{
	width: 70%;
    font-size: 35px;
    /* letter-spacing: 2px; */
    margin-left: 6px;
}

.event-step2 h4, .event-step3 h4{
	width: 100% !important;
}

.pre-event ul, .event-step2  ul, .event-step3  ul{
	margin-top: 34px;
    margin-left: -10px;
}

.pre-event li, .event-step2 li, .event-step3 li{
	letter-spacing: 1.9px;
	font-weight: 200;
}

 .event-step2 h3{
 	    width: 78% !important;
    font-size: 3.35em !important;
 }

 .event-step2 .col-md-5.col-md-offset-7{
 	    padding-left: 6%;
 }

 .event-step3 .col-md-6{
 	margin-left: 2%;
 }

 .event-step3 h3{
 	width: 48%;
 }

@media (max-width: 1024px){
	.center-line{
		left: 0%;
		height: 2200px;
		width: 38px;

	}

	#lp-section2{
		display: none;
	}
}


.scroll{
	text-align: center;
}

.scroll img{
	    width: 19px;
    margin-left: -6px;
    margin-top: 5px;
}

.scroll p{
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: 200;
	font-size: 12px;
	margin-top: 2px;
}

.scroll a:focus, .scroll a:hover{
	text-decoration: none;
}

@media (min-width: 1025px) and (max-width: 1500px){
	.custom-tabs .nav-tabs>li p{
		font-size: 23px;
	}
	.tab-bottom{
		bottom: -24px !important;
	}
}


.logo-dark{
	display: none;

}
.active .logo-clear{
	display: none;
}
.active .logo-dark{
	display: inline;
}
.custom-tabs .nav-tabs p:hover .logo-dark, .custom-tabs .nav-tabs p:focus .logo-dark, .custom-tabs .nav-tabs p:active .logo-dark, .custom-tabs .nav-tabs li a:hover .logo-dark, .custom-tabs .nav-tabs li a:focus .logo-dark, .custom-tabs .nav-tabs li a:active .logo-dark,
.custom-tabs .nav-tabs li:hover .logo-dark, .custom-tabs .nav-tabs li:active .logo-dark, .custom-tabs .nav-tabs li:focus .logo-dark{
	display: inline;
}

.custom-tabs .nav-tabs p:hover .logo-clear, .custom-tabs .nav-tabs p:focus .logo-clear, .custom-tabs .nav-tabs p:active .logo-clear, .custom-tabs .nav-tabs li a:hover .logo-clear, .custom-tabs .nav-tabs li a:focus .logo-clear, .custom-tabs .nav-tabs li a:active .logo-clear,
.custom-tabs .nav-tabs li:hover .logo-clear, .custom-tabs .nav-tabs li:focus .logo-clear, .custom-tabs .nav-tabs li:active .logo-clear{
display: none;
}

#tabCarousel{
	display: none;
	background: #002937;
}

.mobile-devices{
	display: none;
	margin: 50px 0;
}

@media (max-width: 992px){
	.custom-tabs, #lp-section1, #lp-section2, #lp-section3{
		display: none;
	}

	#tabCarousel, .mobile-devices{
		visibility: visible;
		display: block;
	}

	.content h3{
		font-size: 30px;
	}

	.content p{
		font-size: 14px;
	}
}


@media (max-width:500px) {
	.banner-excerpt-bottom {
    background: url(../img/desk-mac-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 470px;
    top: 39%;
    width: 100%;
}
}

@media (min-width:501px) and (max-width:650px){
	.banner-excerpt-bottom {
    background: url(../img/desk-mac-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 470px;
    top: 33%;
    width: 100%;
}
}

@media (min-width: 651px) and (max-width:768px){
	.banner-excerpt-bottom {
    background: url(../img/desk-mac-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 470px;
    top: 49%;
    width: 100%;
}
}

.angles{
	background: #454ecd;
}

#tabCarousel .item{
	height: 546px;
}


body {
background:#fff;
font-family:Arial, sans-serif;
}

p {
margin-bottom:20px;
}

.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;
    text-align:center;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;

}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top:40%;
    background: rgba(0,0,0,0.5);
    color: #fff;
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}


/*Homepage sliders*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3, #flexiselPages {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;
    text-align:center;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;

}

.nbs-flexisel-item {
    float:left;
		background: #002937;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
		min-height: 250px;
		padding: 30px;

}

#flexiselDemo3 .nbs-flexisel-item article{
    padding: 0 10px !important;
}
.nbs-flexisel-item img {
    max-width: 80%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding: 10px;

    position: absolute;
    cursor: pointer;
    z-index: 4;
    top:40%;
    background: rgba(0,0,0,0.5);
    color: #fff;
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: "\f053";
		font-family: fontAwesome;
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;
}

.nbs-flexisel-nav-right:before {
    content: "\f054";
		font-family: fontAwesome;
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}


/*End Homepage sliders*/

.brandsFlexisel{
	display: none;
}

.second-flexisel, .second-flexisel .nbs-flexisel-item {
	background: #70309d !important;
}

.second-flexisel h2{
	padding-top: 300px !important;
}

@media (max-width: 992px){
	.brandsFlexisel{
		display: block;
	}

	.brands, .integrations{
		display: none;
	}
}

#tabCarousel .content{
	padding: 70px 0 !important;
}


#elipse1{
	position: absolute;
	top: 0;
	display: none;
}

#elipse2{
	position: absolute;
	top: 50%;
	display: none;
}

#elipse3{
	position: absolute;
	bottom: 0;
	display: none;
}


@media (max-width:992px){
	#elipse1, #elipse2, #elipse3{
		left: 12%;
	}

	.pre-event h3, .event-step2 h3, .event-step3 h3{
		font-size: 1.9em !important;
	}
	.pre-event h3, .event-step2 h3, .event-step3 h3 {
    width: 75% !important;
}

}

@media (max-width:650px){
	.slide1, .slide2, .slide3, .slide4{
		height: 650px;
	}
}
@media (min-width:993px) and (max-width: 1200px){
	.pre-event h3, .event-step2 h3, .event-step3 h3 {
			width: 70% !important;
	}

}
@media (min-width:1201px) and (max-width: 1550px){
	.pre-event h3, .event-step2 h3, .event-step3 h3 {
			width: 60% !important;
	}

}

.event-step4 .col-md-12{
	display: none;
}
