header{
	position: absolute;
	top: 0;
	z-index: 110;
	width: 100%;
	    background: #000;
    opacity: .8;
    height: 100px;
    line-height: 100px;
    border-top: 4px solid #000;
}


header img{
	height: 70px;
	z-index: 112;
}

header p{
		font-family: 'Source Sans Pro', sans-serif;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12.1px;
		line-height: 90px;
}

.header-second{
	text-align: right;

}

header a{
	    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background: #0887b2;
    padding: 16px 45px;
    margin-left: 3%;
    z-index: 111;
}

header a:hover, header a:focus{
	color: #fff;
	text-decoration: none;
}


.slide1, .slide2, .slide3{
	height: 940px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.slide1{
	background: url("../img/banner/slide1.jpg");
}

.slide2{
	background: url("../img/banner/slide2.jpg");
}

.slide3{
	background: url("../img/banner/slide3.jpg");
}

.banner-excerpt-bottom{
	background: url("../img/desk-mac.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 470px;
	top: 49%;
	width: 100%;
}

.bottom-slider{
	background: url("../img/bottom-slider.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 90px;
	bottom: 0;
	z-index: 130;
	width: 100%;
}
#header-carousel{
	position: relative;
}


.banner-excerpt-top{
	text-align: center;
	position: absolute;
	top: 19%;
	width: 100%;
}

.banner-excerpt-top p{
	color: #fff;
	font-size: 48px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	width: 50%;
	margin: 0 auto;
	    line-height: 1em;
    letter-spacing: 1.5px;


}

.banner-excerpt-top p > strong{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;

}

.title h1{
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 45.25px;
	text-align: center;
	font-weight: 900;

}


.title h2{
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: 200;
	margin-top: 0;
}

.time-bg{
	background: url("../img/BGs/bg_first.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background: #2782df;*/
}

.event-step2{
	background: url("../img/BGs/bg_second.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background: #4b55e0;*/
}

.event-step3{
	background: url("../img/BGs/bg_fourth.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background: #1d429c;*/
}

.event-step4{
	background: url("../img/BGs/bg_third.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	    padding-top: 19.5%;
	    padding-bottom: 94px;

}

.event-step4 h1{
	text-align: center;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 60px;
	    width: 60%;
    margin: 0 auto;
}
.event-step4 img{
	margin-top: 70px;
}
.custom-tabs .nav-tabs>li{
	width: 25%;
	text-align: center;
	border: none !important;
	height: 230px;
}

.custom-tabs .nav-tabs>li a{
	border: none !important;
}
.custom-tabs .nav-tabs>li img{
	width: 240px !important;
	margin-top: 12px;
    margin-bottom: 13px;
}
.custom-tabs .nav-tabs>li p{
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 600;
	    width: 80%;
    margin: 0 auto;
    line-height: 35px;
    letter-spacing: 1.1px;

}
.custom-tabs .nav-tabs>li:nth-child(2){
	background: #002938;

}

.custom-tabs .nav-tabs>li:nth-child(3){
	background: #207b2f;

}

.custom-tabs .nav-tabs>li:nth-child(4){
	background: #662d91;

}

.custom-tabs .nav-tabs>li:hover{
	background: #fff !important;
}

.custom-tabs .nav-tabs>li:hover p{
	color: red !important;
}
.custom-tabs .nav-tabs>li>a:hover, .custom-tabs .nav-tabs>li>a:focus, .custom-tabs .nav-tabs>li>a:active{
	background: #fff !important;
}

.custom-tabs .nav-tabs>li>a:hover p, .custom-tabs .nav-tabs>li>a:focus p, .custom-tabs .nav-tabs>li>a:active p{
	color: red;
}


.custom-tabs .nav-tabs .active p{
	color: red !important;
}

.custom-tabs .nav-tabs .active{
	background: #fff !important;
}

.custom-tabs .tab-pane{
	background: url("../img/red-bg.png");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
}

.content{
	text-align: center;
	color: #fff;
	padding: 120px 0;
	padding-bottom: 145px;
}

.content h3{
	    font-weight: 600;
    font-size: 45px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    margin-top: -5px !important;
    letter-spacing: 3.5px;

}

.content p{

	font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px !important;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 35px;
}

.brands{
	background: url("../img/blue-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.brands h2, .integrations h2{
	text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    padding-top: 100px;
    letter-spacing: 1.9px;
    line-height: 42px;
}

.integrations h2{
	padding: 40px 0 !important;
	    padding-top: 60px !important;
}

.brands ul{
	list-style-type: none;
	margin: 0;
padding: 100px 0;
}

.brands ul li{
	display: inline;
	padding: 0 4.2%;
}

.brands ul li img{
	max-width: 250px;
	max-height: 70px;
}

.brands-container{
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	margin-top: 80px;
	    padding-bottom: 105px;
}

.integrations .brands-container{
	margin-top: 20px !important;
	    padding-bottom: 65px !important;
}

.brand-item{
	width: 20%;
	height: 200px;
	line-height: 200px;
	text-align: center;
}

.integrations{
	background: #70309d;
}

.integrations img{
	

max-height: 150px;
}

.brands img{
	max-height: 150px !important;
}

.contact{
	padding: 127px 0;
	text-align: center;
}

.contact strong{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
	font-weight: 500;
	color: #0c475e;
	letter-spacing: 1.1px;

}

.contact a{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 21.8px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	background: #4dd2ff;
	padding: 30px 75px;
    margin-left: 7%;
}

.contact p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 36px;
	font-weight: 200;
	color: #0c475e;
	letter-spacing: 1.1px;
}


.contact a:hover, .contact a:focus{
	text-decoration: none;
}


footer{
	background: #002938;

}

.top-footer{
	text-align: center;
    padding: 55px 0;
    border-bottom: 2px solid #264956;
}

.top-footer img{
	max-width: 410px;
	max-height: 120px;
}

.bottom-footer{
	color: #fff;
	font-size: 12px;
	padding: 20px 0;
	line-height: 30px;
	font-weight: 300;
    letter-spacing: 2.2px;
}

.tree-logo{
	margin-left: 2%;
}

.bf-first{
	text-align: right;
	padding-right: 4%;
}

.bf-second{
	padding-left: 4%;
}
@media (max-width: 1024px){
	.brand-item, .custom-tabs .nav-tabs>li{
		width: 50%;
	}
}

@media (max-width: 768px){
	.brand-item, .custom-tabs .nav-tabs>li{
		width: 100%;
		text-align: center;
		font-family: 'Source Sans Pro', sans-serif;

	}
}


/* TIMELINE CSS*/


.pre-event{
	padding-top: 80px;
}

.pre-event h3, .event-step2 h3, .event-step3 h3{
	    background: url(../img/rectangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 10px 20px;
    width: 45%;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.4em;
    color: #0c475e;
}


.event-step2 h3{
	width: 60% !important;
}

.pre-event h4, .event-step2 h4, .event-step3 h4{
	    color: #fff;
    font-size: 38px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 18px;
    letter-spacing: 2px;
    font-weight: 300;
}
.pre-event ul, .event-step2 ul, .event-step3 ul{
	margin-top: 30px;
}
.pre-event li, .event-step2 li, .event-step3 li{
	list-style-type: none;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	padding-bottom: 17px;
}

.pre-event li:before, .event-step2 li:before, .event-step3 li:before{
	content: "\f054";
	  font-family: FontAwesome;
	  margin-left: -1.3em;
	      width: 1.3em;
    display: inline-block;
}

@media(min-width: 1550px){
	.container{
		width: 1530px !important;
	}
}

.event-step2{
	position: relative;
    z-index: 1;

}
.event-step2:before{
	top: 0;
    -webkit-transform: skewY(-7.5deg);
    transform: skewY(-7.5deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.event-step3{
	position: relative;
    z-index: 1;

}
.event-step3:before{
	top: 0;
    -webkit-transform: skewY(-7.5deg);
    transform: skewY(-7.5deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.tab-content{
	    background-color: #002937; 
}

@media (min-width: 1700px){
	.brands > .container{
		width: 1688px !important;
		padding: 0 !important;
	}

	.brand-item{
		text-align: left;
	}


}

@media (min-width: 1730px){
	.integrations > .container{
		width: 1706px !important;
	}
}


/* ANGLES CSS */

.angles{
	position: relative;
}

#lp-section1{
	    
	position: absolute;
    right: 0;
    text-align: right;
    background: url(../img/laptop-mac.png);
    height: 660px;
    z-index: 99;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    top: 10%;
}
#lp-section2{
	    position: absolute;
    left: -3%;
    background: url(../img/phones.png);
    height: 859px;
    top: -14%;
    background-size: cover;
    background-repeat: no-repeat;

}
#lp-section3{
	    
	    position: absolute;
    right: 0;
    text-align: right;
    background: url(../img/ipad.png);
    height: 880px;
    top: -30%;
    z-index: 99;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

}
.time-bg{
	height: 950px;
}

.event-step2{
	height: 800px;
}


/* MOBILE */


@media (max-width: 768px){
	.header-second{
		display: none;
	}

	.banner-excerpt-top p{
		font-size: 25px;
	}

	.pre-event h3, .event-step2 h3, .event-step3 h3{
		width: 100% !important;
	}

	.time-bg{
		height: 1100px;
	}

	.event-step2{height: 1200px;}

	.contact a{
		margin-left: 0;
		padding: 20px 25px;
	}

	.top-footer img{
		max-width: 250px;
	}

	.bf-first, .bf-second{
		padding: 0 !important;
		text-align: center;
	}

	.brands img, .integrations img{
		max-width: 250px;
	}
}